{% extends 'blog/base.html' %}

{% block content %}
<h3 style="text-align: center;padding-top:59px;">{{category}}</h3>
<div style="display: flex; flex-wrap:wrap;justify-content:space-between;gap:20px;margin-top:66px;">
     {% for post in posts %}
        <div>
            <a href="/poetry/{{post.id}}">
            <img src="{{ post.image.url}}" width="350" height="210" style="object-fit: cover;">
            <h3 style="text-align: center;">{{ post.title }}</h3>
            <p class="miniText" style="text-align:center">{{ post.category }}</p></a>
        </div>
    {% endfor %}
</div>
   
{% endblock %}
